.App {
  text-align: center;
  font-family:  sans-serif;
  font-weight: bold;
  font-size: x-large;
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
}

html{
  height: 100%;
  width:100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#root{
  height: 100%;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background{
  background-color: #00171f;
}
.correct{
  color: #8ac926;
}

.incorrect{
  color: #ff595e;
  text-decoration: underline;
}

.initial{
  color: #1982c4;
}

.WriterName{
  color: darkgray;
}
.TypingAria{

}
.TypingAria:hover{
}
.notification{
  color:white;
  font-size: xx-large;
}
.notification:hover{
  cursor: pointer;
  color:white;
}

.button:hover{
  cursor: pointer;
  background-color: #095256;
}